extends template
block content
  main.about
    .container
      +breadcrumb(['О компании'])
    .b-content
      .container
        section
          .page__title О компании
          .about-baner
            .about-baner__img
              img(src="img/about.jpg", alt="")
              .four.columns
                .about-baner__quote
                  p.about-baner__text Мы разработали собственную систему вентилируемого фасада, и освоили производство изделий из алюминиевых профильных систем.
          .about__text        
            .block__title Проектируем. Производим. Монтируем.
            .b-text 
              p  
                span Компанией «ФастБилдинг» разработана собственная система вентилируемого фасада (система «ФБ»), освоен ее выпуск и обеспечен достаточный складской запас. Это позволило компании активно выйти на рынок фасадных систем и закрепиться на нем в качестве сильного игрока и надежного партнера.

              p  
                span В 2011 г. ООО «ФастБилдинг» освоило производство изделий из алюминиевых профильных систем. Сегодня, это современное производство с новейшим оборудованием и высокопрофессиональными рабочими. Компания готова осуществить изготовление самых сложных алюминиевых конструкций и гарантировать оперативное выполнение больших объемов
              p 

            .block__title Основными направлениями деятельности предприятия являются:
            .b-text 

              p  
                strong 1)  Производство и поставка комплектующих систем ФБ:

              ul 
                li Панели фасадные
                li Плиты облицовки
                li Кронштейны            
                li Направляющие металлообрешетки
                li Крепежные элементы
                li Фасонные изделия   
                li Облицовочный материал и т.д
              p               
              p  
                strong 2)  Производство и поставка изделий из стекла и алюминиевого профиля:

              ul 
                li Витражные системы
                li Светопрозрачные фасады
                li Окна            
                li Двери
                li Витрины
                li Перегородки   
                li Входные группы и т.д.
              p                 
              p  
                strong 3)  Проектирование вентилируемых фасадов и витражных конструкций.

              p  
                strong 4)  Монтаж ветилируемых фасадов и изделий из алюминиевого профиля.


    +b-contacts()

    +b-map()
      
