extends template
block content
  main.certif
    .container
      +breadcrumb(['Сертификаты'])
    .b-content
      .container
        section
          .page__title Сертификаты
          .page__text Вся продукция сертифицирована и соответствует необходимым государственным стандартам. Ниже Вы можете ознакомиться с нашими сертификатами качества:

          .certif__group
            .certif__
              each item in ['Декларация о соответствии на вентилируемый фасад','Декларация о соответствии на витражи из алюминиевого профиля','Свидетельство о государственной регистрации','Сертификат соответствия на вентилируемый фасад','Сертификат соответствия на двери из алюминиевого профиля','Сертификат соответствия на окна из алюминиевого профиля','Сертификат продукции собственного производства','Декларация енитные фонари','Декларация композит','Сертификат ИСО 9001-2009','Сертификат Алютех']
                .certif__col                
                  .certif__item
                    a.certif__img.js-fancybox(href="img/main-review-slider-big.jpg")
                      img(src="img/main-review-slider.jpg", alt="")
                    .certif__info
                      .certif__name= item
                      a(href="files/pdf.pdf" target="_blank").certif__link Скачать. pdf (3 мб.)            
       
    +b-contacts()

    +b-map()
      
