extends template
block content
  main.fasad
    .container
      +breadcrumb(['Продукция','Вентилируемый фасад','Панели фасадные'])
    .b-content
      .container
        .b-content__left
          +sidebar('Панели фасадные')
        .b-content__right  
          section.fasad-banner
            .page__title Панели для фасада
            .page__text Металлические фасадные панели все более востребованы  в современном дизайне  и архитектуре. Наиболее активно панели применяются для облицовки офисных зданий, зданий общественного назначения, производственных и складских помещений, при реконструкции фасадов, для отделки частных домов.
            .fasad-banner__list.js-slider
              - for (var i = 0; i < 4; i++) 
                .fasad-banner__item(style="background-image: url(img/fasad-slider-01.jpg)")
            

          section.fasad-info
            .block__title Разнообразие ассортимента
            .b-text 
              p  
                span Используемые при облицовочных работах панели для фасадов представляют собой листы из металла, алюминия или оцинкованной стали, загнутые по всему периметру, предназначенные для облицовки стен  и потолков зданий.

              p  
                span Комплекс наших услуг включает производство и монтаж разных видов панелей:

              ul 
                li Cтальных с полимерным покрытием

                li Алюминиевых композитных
                li Фасадных алюминиевых

            .block__title Панели из алюминия и стали с полимерным покрытием

            .b-text 
              p  
                span Панели из оцинкованных листов с дополнительным полимерным типом покрытия PVDF сегодня заслуженно считаются одним из наиболее долговечных, стильных и надежных видов отделки любых фасадов. При производстве цокольного сайдинга используется оцинкованный тонколистовой металлопрокат с PVDF покрытием от финляндского производителя с мировым именем Ruukki. К исключительным свойствам такого полимерного покрытия относятся, в первую очередь, антикоррозийные качества и длительное сохранение цвета при использовании в условиях открытого воздуха. К тому же, PVDF покрытие представляет собой идеальную основу для создания элитных цветовых оттенков металлик, широко используемых для отделки фасадов премиум-класса.
                br
                span Мы предлагаем купить фасадные панели в Минске, изготовленные из стали DX51D разной толщины: 1,0 – 1,2 – 1,5 – 2,0 мм,  в зависимости от размеров фасадных кассет.
 



            .window-info__square
              .square
                .square__img
                  img(src="img/fasad-square-01.jpg", alt="")                    
                .square__info
                  .square__title Фасадная панель ПФ1
                  a(href="img/fasad-square-big-01.jpg").square__link.js-fancybox Смотреть размеры

              .square
                .square__img
                  img(src="img/fasad-square-02.jpg", alt="")                    
                .square__info
                  .square__title Фасадная панель ПФ2          
                  a(href="img/fasad-square-big-02.jpg").square__link.js-fancybox Смотреть размеры

            .b-text 
              p  
                span Использование в облицовочных работах панелей для отделки фасадов этого типа открывает большие архитектурные и дизайнерские возможности, что объясняется вариативностью комбинирования цветовых решений, размеров, а также особенностями стыков между панелями. Достаточно стильно выглядит сочетание панелей с другими современными отделочными материалами. 
                br
                span Мы гарантируем клиентам компании не только качество материалов, широкий выбор цветовых покрытий, предельную точность размеров сайдинга для фасадов, но и использование на всех этапах производства и монтажа эффективных технологий и современного оборудования. Предлагаем панели с видимым и скрытым креплением, а также готовы обеспечить изготовление нестандартных панелей – радиусных, угловых или трапецеевидных.

            .fasad-info__mount
              .mount
                .mount__title Скрытое крепление
                .mount__img
                  img(src="img/fasad-mount-01.jpg", alt="")

              .mount
                .mount__title Открытое крепление
                .mount__img
                  img(src="img/fasad-mount-02.jpg", alt="")

            .block__title Особенности алюминиевых композитных панелей
            .b-text
              p  
                span В ассортименте компании вы также сможете подобрать вариант композитных алюминиевых панелей, представляющих собой конструкцию из двух металлических листов с полимерной внутренней прослойкой. У нас представлена продукция «Alcotek» и «Bildex», качество которых подтверждено не только рейтингом на рынке и отзывами покупателей, но и соответствием, действующим в Беларуси Сертификатам. 
                br  
                span Внешняя лицевая сторона сайдинга окрашена специальным покрытием на базе FEVE и PVDF смол, что обеспечивает защиту материала от агрессивного влияния окружающей среды и устойчивость к ультрафиолетовым лучам. Обратная сторона кассеты имеет выраженные антикоррозийные характеристики.
                br
                span Отделка фасада композитными панелями распространена при облицовке офисов, банковских учреждений и гостиниц, спортивных, торгово-развлекательных и административных центров, и т.д. Так же, достаточно стильно будут смотреться и при оформлении интерьеров в холлах, гостевых зон или торговых павильонов.
              p  
                span К основным плюсам таких изделий можно отнести:

              ul 
                li Устойчивость к температурным нагрузкам и колебаниям;
                li Пожаробезопасность и влагостойкость;
                li Устойчивость к УФ-лучам;
                li Рродолжительность и практичность эксплуатации;  
                li Огромный выбор для реализации современных дизайнерских решений (цветовой диапазон RR, RAL).

                                                        
            .b-dotted
              .b-dotted__txt
                p 
                  span Узнать цены на фасадные панели, уточнить размеры и формы конструкции, получить консультацию специалиста о свойствах эксплуатации и технических характеристиках, можно по тел. <a href="tel:+375 17 247 50 03">+375 17 <strong>247 50 03</strong></a>,  <a href="tel:+375 29 363 07 68">+375 29  <strong>363 07 68</strong></a>

            .b-text              
              p  
                span 
                  strong Обратившись к нам, вы получаете лучший вариант выгодного приобретения качественных фасадных панелей в Минске.


            .fasad-info__watch
              .row
                .six.columns
                  .watch
                    .watch__pre Образцы проектов
                    .watch__title Вдохновляющие примеры для Вашего дома
                    .watch__text Окна, входные двери, зимние сады и балконы. Откройте для себя многообразие продукции Schüco.
                    .watch__btn 
                      a(href="").btn.btn_invert Смотреть примеры
                .six.columns
                  .main-form.fasad-form
                    form(action="").form
                      .fasad-form__title Запишитесь и приходите
                      .form__block
                        input.input#name_main(data-valid="name" type='text', name='form[]', placeholder='',autocomplete='name')
                        label.label(for="name_main") Имя*
                      .form__block
                        input.input#phone_main(data-valid="phone" type='text', name='form[]', placeholder='',autocomplete='tel')
                        label.label(for="phone_main") Телефон*                
                      .form__block
                        input.input#email_main(data-valid="email" type='email', name='form[]', placeholder='',autocomplete='email')
                        label.label(for="email_main") E-mail*
                      .form__block.form__block_windows
                        label.label(for="message_windows") Комментарий*
                        textarea.textarea#message_windows(data-valid="text" name='form[]', rows='3', placeholder='')
                      .fasad-form__btn
                        button.btn.btn_invert(type='submit') Отправить                      


    +b-contacts()

    +b-map()
      

    #windows.popup
      .popup__close.js-fancy-close
      .popup__title Связаться с нами 
      .popup__form
        form(action="").form          
          .form__block
            input.input#name_windows(data-valid="name" type='text', name='form[]', placeholder='',autocomplete='name')
            label.label(for="name_windows") Имя*
          .form__block
            input.input#phone_windows(data-valid="phone" type='text', name='form[]', placeholder='',autocomplete='tel')
            label.label(for="phone_windows") Телефон*                
          .form__block
            input.input#email_windows(data-valid="email" type='email', name='form[]', placeholder='',autocomplete='email')
            label.label(for="email_windows") E-mail*
          .form__block.form__block_windows
            label.label(for="message_windows") Комментарий
            textarea.textarea#message_windows(data-valid="text" name='form[]', rows='5', placeholder='')
          .form__btn
            button.btn.btn_blue(type='submit') Отправить    
                
