extends template
block content
  main
    section
      .container      
        .text__block.clearfix
          ul
            li
              a(href='main.html', target='_blank') ссылка
              |  - Главная   
            li
              a(href='windows.html', target='_blank') ссылка
              |  - Окна   
            li
              a(href='fasad.html', target='_blank') ссылка
              |  - Панели для фасада                               
            li
              a(href='gallery.html', target='_blank') ссылка
              |  - Образцы проектов              
            li
              a(href='download.html', target='_blank') ссылка
              |  - Материалы для скачивания                   
            li
              a(href='review.html', target='_blank') ссылка
              |  - Отзывы                
            li
              a(href='about.html', target='_blank') ссылка
              |  - О нас     
            li
              a(href='certif.html', target='_blank') ссылка
              |  - Сертификаты     
            li
              a(href='news.html', target='_blank') ссылка
              |  - Новости     
            li
              a(href='news-page.html', target='_blank') ссылка
              |  - Страница новости     
            li
              a(href='contacts.html', target='_blank') ссылка
              |  - Контакты  
            li
              a(href='404.html', target='_blank') ссылка
              |  - 404   
            li
              a(href='search.html', target='_blank') ссылка
              |  - Страница поиска   
