extends template
block content
  main.news-page
    .container
      +breadcrumb(['Новости','Окна объединяют в себе, эстетику и функциональность'])
    .b-content
      .container
        section
          .page__title Окна объединяют в себе, эстетику и функциональность

          .b-news__date 05.02.2015
          .news-page__text
            .b-text
              img(src="img/news-page-01.jpg", alt="" align="left")
              p.title Эстетика и функциональность
              p Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы. 

              p К установке окон в загородные дома и дачи предъявляются особые требования, которые отличаются от монтажа окон в городских квартирах. На большинстве дач по сей день используются классические деревянные окна, выполненные из террасного бруса. В составе конструкций присутствует лишь одно стекло. Преимущества: низкая стоимость и натуральный материал. Недостаток: проблемы с теплоизоляцией и шумоизоляцией, необходимость регулярного и тщательного ухода, недостаточный срок службы.

              p.title Дизайн
              p Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.


              p К установке окон в загородные дома и дачи предъявляются особые требования, которые отличаются от монтажа окон в городских квартирах. На большинстве дач по сей день используются классические деревянные окна, выполненные из террасного бруса. В составе конструкций присутствует лишь одно стекло. Преимущества: низкая стоимость и натуральный материал. Недостаток: проблемы с теплоизоляцией и шумоизоляцией, необходимость регулярного и тщательного ухода, недостаточный срок службы.

              p 
                img(src="img/news-page-02.jpg", alt="" align="left" style="width: 30%")
                img(src="img/news-page-03.jpg" style="width: 30%; margin-bottom: 20px")
                img(src="img/news-page-04.jpg", alt="" align="right" style="width: 30%")

              p.title Пластиковые окна

              p Среди современных решений всё большим спросом пользуются окна ПВХ. Они неприхотливы в обслуживании, долговечны, обладают великолепными защитными характеристиками. Также пластиковые окна легко ламинировать с использованием различных структур древесины.


              p Если посещать дачу вы планируете лишь в весенне-летний период года, нет смысла устанавливать дорогие многокамерные стеклопакеты, не оснащённые дополнительной теплоизоляцией. Если же планируется отдыхать на даче и в морозы, практичнее будет установить энергосберегающие стеклопакеты, поддерживающие оптимальный температурный режим в помещении.

              p.title Алюминиевые окна

              p окна на дачу алюминийКонструкции из алюминия – ещё один распространённый тренд современности. Их стоимость несколько выше, чем для изделий ПВХ, но уход требуется меньший, а окна характеризуется небольшой толщиной и малым удельным весом. Алюминиевые окна могут открываться по продольной рейке, как шкафы купе. Этим вы сэкономите пространство в помещении. Многие производители относят алюминиевые конструкции к «холодному» остеклению, поскольку они обладают пониженной защитой от воздействия внешней температуры. Такие окна подойдут для владельцев дачи, которые посещают её только в жаркое летнее время.



              p Если посещать дачу вы планируете лишь в весенне-летний период года, нет смысла устанавливать дорогие многокамерные стеклопакеты, не оснащённые дополнительной теплоизоляцией. Если же планируется отдыхать на даче и в морозы, практичнее будет установить энергосберегающие стеклопакеты, поддерживающие оптимальный температурный режим в помещении.

              p.title Стоит ли приобретать готовые окна?


              p Широкое распространение получили и готовые окна ПВХ, созданные специально для эксплуатации в суровых климатических условиях. Такие окна обойдутся дешевле, чем производство по индивидуальным заказам, но и подойдут не для каждого проёма. Во время производства обязательно соблюдаются строгие требования ГОСТ и международных стандартов качества. Учитывая обширный ассортимент готовых изделий, вы без труда подберёте конструкцию в соответствии с заданными параметрами.

              p Выводы: окна ПВХ и из алюминия прекрасно подходят для загородных строений (дач и коттеджей), обеспечивая приемлемый уровень защиты от холода и шума. Гибкий подбор конфигурации позволяет точно определить количество стекол в стеклопакете, размеры створок и т. д. Приятный и комфортный отдых на даче гарантирован!


          .news-page__back
            a(href="").btn.btn_blue Вернуться назад



    +b-contacts()

    +b-map()
      
