extends template
block content
  main.news
    .container
      +breadcrumb(['Новости'])
    .b-content
      .container
        section
          .page__title Новости
          .news__group
            .b-news
              a(href="").b-news__img
                img(src="img/news-01.jpg", alt="")
              .b-news__info
                .b-news__date 05.02.2015
                a(href="").b-news__title Окна объединяют в себе дизайн, эстетику и функциональность.
                .b-news__text Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.
            .b-news
              a(href="").b-news__img
                img(src="img/news-02.jpg", alt="")
              .b-news__info
                .b-news__date 05.02.2015
                a(href="").b-news__title Входные двери в корпоративное здание
                .b-news__text Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.
            .b-news
              a(href="").b-news__img
                img(src="img/news-03.jpg", alt="")
              .b-news__info
                .b-news__date 05.02.2015
                a(href="").b-news__title Окна объединяют в себе дизайн, эстетику и функциональность.
                .b-news__text Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.
            .b-news
              a(href="").b-news__img
                img(src="img/news-04.jpg", alt="")
              .b-news__info
                .b-news__date 05.02.2015
                a(href="").b-news__title Входные двери в корпоративное здание
                .b-news__text Энергетические затраты неуклонно растут, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.                                
          .news__pagin
            +pagin()


    +b-contacts()

    +b-map()
      
