extends template
block content
  main
    .container
      +breadcrumb(['Результаты поиска'])
    .b-content
      .container
        section
          .page__title Результаты поиска
          .p-search
            .p-search__form
              form.search__form(action="")
                input.search__input(type="text" placeholder="Поиск по сайту")
                input.search__submit(type="submit")
            .p-search__item
              a(href="").p-search__title Окна объединяют в себе дизайн, эстетику и функциональность.
              .p-search__text Энергетические затраты неуклонно растут окна, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.
              
            .p-search__item
              a(href="").p-search__title Специальные термины и их простые определения представлены в нашем.
              .p-search__text Специальные термины и их простые определения представлены в нашем. Энергетические затраты неуклонно растут окна, и с этим ничего не поделаешь. Тем не менее, Вы можете сделать кое-что для того, чтобы уровень потребления энергии не вырос до баснословной суммы.


    +b-contacts()

    +b-map()
      
